<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
<div class="topnav">
    <div class="topnav-home">
        
        <a *ngIf="link" [href]="link">Login</a>
    </div>
    <div class="topnav-right">
        <div class="menu-container">
          <div class="menu-toggler">
            <div class="account-wrapper" (click)="toggleMenu()">
              <h1 class="card-text">{{account}}</h1>
            </div>
            <div class="menu" *ngIf="isMenuOpened">
              <div class="menu-item"><a href="http://localhost:4200/profile">{{profile}}</a></div>
              <div class="menu-item"><a href="http://localhost:4200/">{{admin}}</a></div>
              <div class="menu-item"><a href="http://localhost:4200/">{{guest}}</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
