$color:#152939;

* {
    padding: 0;
    box-sizing: border-box;
}
.topnav {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 13%;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: $color;
    position: absolute;
}
.topnav a {
    float: left;
    display: block;
    color: rgba(0, 162, 255, 0.863);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



.topnav .topnav-home a {
    color: #fff;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    

    transition: text-shadow 0.3s ease;
    &:hover{
    color: red;

}
}
.topnav .topnav-right{
    color: #fff;
    text-align: right;
    margin-right: 5px;
}

.toggle {
    display: none;
}
.card-text {
    cursor: pointer;
}

.menu-container {
    text-align: right;
    position: relative;
    z-index: 50;
  }
  
  .menu-toggler {
    cursor: pointer;
  }
  
  .account-wrapper {
    display: inline-block;
    position: relative; /* Add position:relative */
    z-index: 2; /* Increase the z-index */
  }
  
  .menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 80px;
    background: #333;
    color: #fff;
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 50;
    text-align: center;
  }
  
  .menu-item {
    cursor: pointer;
    padding: 5px 0;
    z-index: 50;
  }
  
  .menu-item:hover {
    text-decoration: underline;
    z-index: 50;
  }

  