

<body>
<div class="card">
  <div class="card-header">
<h2>Admin List</h2>

  </div>
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Password</th>
      <th>Position</th>
      <th></th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index">
      <td>{{ user.username }}</td>
      <td>{{ user.passwordHidden ? '********' : user.password }}</td>
      <td>{{user.position}}</td>
      <td>
        <button class="btn btn-primary" style="margin-right: 10px;" (click)="togglePasswordVisibility(i)">Toggle Password</button>
        <button class="btn btn-primary"  style="margin-right: 10px;" (click)="deleteUser(i)">Delete</button>
        <button class="btn btn-primary" (click)="editCrime(i)" *ngIf="editingIndex !== i">Edit</button>
    </td>
    </tr>
  </tbody>
</table>
<div *ngIf="editingIndex !== null" class="edit-form">
  <div>
    <label>Username:</label>
    <input type="text" [(ngModel)]="users[editingIndex].username" />
  </div>
  <div>
    <label>Password: </label>
    <input type="password" [(ngModel)]="users[editingIndex].password" />
  </div>
  <button (click)="saveEdit(editingIndex)">Save</button>
</div>
</div>
</body>