* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;

}

img {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.d-flex.align-items-center.h-custom-2.px-5.ms-xl-4.mt-5.pt-5.pt-xl-0.mt-xl-n5 {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.0);
  border-radius: 5px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
  position: absolute;
  z-index: 1;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
background-color: rgba(255, 255, 255, 0.0);
}

h3{
  color: #ffffff;
} 