$color: #754668;
    $color2: #ffbf00;
    $color3: #F8F0FB;
    body {
      font-family: Arial, sans-serif;
      background-color: $color3;
      margin: 0;
      border-radius: 5px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

      display: flex;
      flex-direction: column;
      align-items: center;
    }

    /* Add Bootstrap card styles */
    .card {
      width: 100%;
      max-width: 600px; /* Adjust the maximum width as needed */
      margin-top: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;
    }
    .card-header {
      background-color: #3E92CC;
      color: white;
      border-radius: 10px 10px 0 0;
    }
    .card-body {
      padding: 20px;
      width: 100%;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    th {
      background-color:#3E92CC;
      color: white; 
    }