$color: #0088e2;
$color2: #3700ff;
$color3: #00c3ff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    padding-top: 30px;
    padding-left: 270px;
}
h1{ 
  color: #fff;
}


app-card-small.main-body {
  &:nth-child(odd) {
     
      display: flex;
      max-height: 270px;
      max-width: 270px;
      background-color: $color2;
      margin: 10px;
      padding: 0;
      box-sizing: border-box;
      align-items: center;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      transition: transform 0.2s ease;
      cursor: pointer;
      justify-content: center;
      text-decoration: none;
      color: #fff; 
      font-size: 12px;  
      font-weight: bold;  
      text-align: center;
  }

  &:nth-child(even) {
     
    display: flex;
    max-height: 270px;
    max-width: 270px;
    background-color: $color;
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;
    color: #fff; 
    font-size: 12px;  
    font-weight: bold;  
    text-align: center;  
  }

  &:hover {
    a {
      transform: scale(1.05);
    }
  }
}
body {
	color: #566787;
	background: #f5f5f5;
	font-family: 'Varela Round', sans-serif;
	font-size: 13px;
    
}
.container{  
  height: 540px;
   width: 33%; /* Adjust this value based on your layout */
   margin: 30px 0 0 0;
}
table{
  width: 100%;
}
.table-responsive {
    margin: 30px 0;
}
.table-wrapper {
	background: #fff;
	padding: 20px 25px;
	border-radius: 3px;
	min-width: 300px;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
} 
.table-title {        
	padding-bottom: 15px;
	background: #435d7d;
	color: #fff;
	padding: 16px 30px;
	min-width: 100%;
	margin: -20px -25px 10px;
	border-radius: 3px 3px 0 0;
}


