<app-topnav
*ngFor="let item of guest"
account="{{item.account}}"
></app-topnav>
<body>
  

        <app-card-small class="main-body"
        *ngFor="let item of cardData"
        title="{{item.title}}"
        value="{{item.value}}"
        content="{{item.content}}"
        link="{{item.link}}"
        ></app-card-small>

      <app-maps></app-maps>
      <app-sidenav
      *ngFor="let item of sidenav"
    guest="{{item.guest}}"
    list="{{item.list}}"
analytics="{{item.analytics}}"
></app-sidenav>
</body>