$color:#152939;
$color2: #000000;
$color3: #00c3ff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.sidenav {
    height: 100%;
    width: 200px;  
    position: fixed;
    top: 0;
    left: 0;
    background-color: $color;  
    overflow-x: hidden;
    color: #f1f1f1;
    z-index: 3;
  /* &:hover {
        width: 200px;
    } */
} 


.sidenav-logo {
    text-align: center;
}

.sidenav-logo img {
    padding-top: 30px;
    width: 230px;  
    height: 190px;
}



.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 20px;
color: #f1f1f1;
display: block;
transition: 0.3s;
}

.sidenav-logo {
    text-align: center;
}

.sidenav-logo img {
    padding-top: 30px;
    padding-right: 60px;
    width: 270px;
    height: 170px;
}


.sidenav .top-items {
padding-top: 25px;
color: white;
}


.sidenav .bottom-items {
position: absolute;
bottom: 0;
padding-bottom: 20px;
}
box{
    padding-left: 30px;
}